<%= provide(:title, "# #{@target.name}") %>

<div class="business-layout">
  <div class="business-layout-header">
    <span>#</span><%= @target.name %>
  </div>
  <div class="business-layout-main">
    <% @target.agents.each do |agent| %>
      <div class="business-item">
        <div class="business-image">画像</div>
        <div class="business-info">
          <%= link_to agent.name, agent, class: "business-item-name" %>
          <%= link_to agent.email, agent, class: "business-item-email" %>
        </div>
      </div>
    <% end %>
  </div>
  <%#= paginate @agents %>
</div>
