<%= provide(:title, "# #{@target.name}") %>

<div class="business-layout">
  <div class="business-layout-header">
    <span>#</span><%= @target.name %>
  </div>
  <div class="business-layout-main">
    <% @target.agents.each do |agent| %>
      <%= render 'shared/agent_icon', agent: agent %>
    <% end %>
  </div>
  <%#= paginate @agents %>
</div>
