<% provide(:title, '体験型事業者を探す') %>
<% provide(:button_text, '検索する') %>

<div class="business-layout">
  <%= render 'shared/owner_search' %>
  <%= paginate @owners %>
  <div class="business-layout-main">
    <% @owners.each do |owner| %>
      <%= render 'shared/owner_icon', owner: owner %>
    <% end %>
  </div>
  <%= paginate @owners %>
</div>
