<%= provide(:title, "事業者登録") %>

<div class="signup">
  <div class="register-headline">
    <h1 class="title">体験型事業者 無料会員登録</h1>
    <p class="description">以下の項目を入力して、Kotosearchに登録してください</p>
  </div>
  <%= render "layouts/form", object: @owner %>
</div>




<!-- Facebookで登録する -->
<!-- Facebookに勝手に投稿されることは一切ありません -->
