<% provide(:title, "検索結果") %>

<div class="business-layout">
  <div class="business-layout-main">
    <% @owners.each do |owner| %>
      <%= render 'shared/owner_icon', owner: owner %>
    <% end %>
  </div>
  <%= paginate @owners %>
</div>
