<%= provide(:title, "# #{@leisure.name}") %>

<div class="business-layout">
  <div class="business-layout-header">
    <span>#</span><%= @leisure.name %>
  </div>
  <div class="business-layout-main">
    <% @leisure.owners.each do |owner| %>
      <%= render 'shared/owner_icon', owner: owner %>
    <% end %>
  </div>
  <%#= paginate @owners %>
</div>
