<%= provide(:title, "Kotosearch") %>

<div class="top">
  <section class="head-section">
    <p class="site-title-sub">Welcome to Kotosearch</p>
    <p class="site-title">
      <span>体験型事業者 × 旅行会社</span><br>
        <br>
      インバウンド事業者向け<br>
      代理店・事業者 検索サービス
    </p>
    <div class="buttons">
      <a class="button-a" href="#about">ABOUT KOTOSEARCH</a>
      <a class="button-a button-showy" href="#contact">JUST DO IT !!</a>
    </div>
  </section>
  <section class="about" id="about">
    <h2 class="heading">Kotosearch とは...?</h2>
    <p class="about-text-1">
      <br><span>自然体験や文化体験を提供するサプライヤー × インバウンド向けエージェント</span><br><br>
      昨今のインバウンドトレンドでは、商品を購買する"モノ"消費から<br>
      体験を消費する"コト"消費へとシフトしつつあります。<br>
      体験の提供者と、販売者をマッチングさせられないか。<br>
      そんなアイデアから生まれたのがKotosearch（コトサーチ）です。
    </p>
    <p class="about-text-2">
      ✔︎ インバウンドコンサルティングを利用する前の事前知識に<br>
      ✔︎ ターゲット国毎にどのような代理店があるか知りたい時に<br>
      ✔︎ インバウンド向けツアー企画を立ち上げる際のネタ探しに
    </p>
  </section>

  <section class="contact" id="contact">
    <h2 class="heading rsp">
      さっそくはじめてみましょう！
    </h2>
    <%= link_to "体験型事業者を探す", owners_path, class: 'index_btn' %>
    <%= link_to "エージェントを探す", agents_path, class: 'index_btn' %>
  </section>
  <footer class="footer">
    ©︎ masahiro's portfolio
  </footer>
</div>
