<% provide(:title, "検索結果") %>

<div class="business-layout">
  <div class="business-layout-main">
    <% @agents.each do |agent| %>
      <%= render 'shared/agent_icon', agent: agent %>
    <% end %>
  </div>
  <%= paginate @agents %>
</div>
