<% provide(:title, 'ユーザー情報編集') %>
<% provide(:button_text, '編集完了') %>
<div class="form">
  <div class="form-headline">
    <h1 class="title">ユーザー編集</h1>
    <p class="description">編集したい項目を入力してください</p>
  </div>
  <%= render 'layouts/agent_form' %>
</div>
