<% provide(:title, 'エージェントを探す') %>
<% provide(:button_text, '検索する') %>

<div class="business-layout">
  <%= render 'shared/agent_search' %>
  <%= paginate @agents %>
  <div class="business-layout-main">
    <% @agents.each do |agent| %>
      <%= render 'shared/agent_icon', agent: agent %>
    <% end %>
  </div>
  <%= paginate @agents %>
</div>
