<% provide(:title, "エージェント詳細") %>

<div class="contents">
  <div class="agent_page">
    <div class="">

    </div>
  </div>
</div>
<%= @agent.name %>,<%= @agent.email %>
<%= link_to "編集", edit_agent_path(@agent) %>
