.business-layout {
  margin: 0 auto;
  padding: 136px 0px 220px;
  &-header {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: bold;
    color: #4f4f4f;
    span {
      margin-right: 8px;
      color: #8c2a2a;
    }
  }
  &-main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .business-item {
      display: inline-block;
      width: 220px;
      margin: 20px 8px 20px 8px;
      border-radius: 12px;
      background-color: #fff;
      position: relative;
      .business-image{
        width: 100%;
        height: 160px;
        background-color: #dcdde0;
        border-radius: 12px 12px 0 0;
      }
      .business-info {
        padding: 12px;
        .business-item-name {
          display: block;
          color: #000;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 80%;
        }
        .business-item-email {
          display: block;
          margin-bottom: 4px;
          color: rgb(95, 99, 103);
          font-size: 14px;
        }
      }
    }
  }
  nav {
    display: flex;
    justify-content: center;
    .pagination {
      margin-top: 20px;
      padding: 0;
      .page-item {
        margin: 30px 2px;
        display: inline-block;
        background: #fff;
        font-size: 14px;
        width: 50px;
        height: 30px;
        text-align: center;
        position: relative;
        border: 1px solid #20b8b8;
        border-radius: 10px;
        &:hover {
          background: #20b8b8;
        }
        a {
          position: absolute;
          top: 8%;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          display: table;
          color: #20b8b8;
          text-decoration: none;
          &:hover {
            color: #fff;
          }
        }
      }
      .active {
        background: #20b8b8;
        border-radius: 10px;
        &:hover {
          background: #d9d9d9;
        }
        a {
          color: #fff;
          &:hover {
            color: #20b8b8;
          }
        }
      }
    }
  }
}
